#set ($endFunction = '()')
#set ($begFunction = 'get')

package ${package};

import com.gwtplatform.dispatch.rpc.shared.Result;
import $import;
#foreach ($imp in $imports)
import $imp;
#end

@SuppressWarnings("serial")
public class ${name}ActionResult implements Result {
 
#foreach ($param in $outputParameters)
	private $param.type $param.name;
#end

#set( $first = true )

	  public ${name}ActionResult(#foreach ($param in $outputParameters)  #if ( !$first ),#end #set( $first = false ) final $param.type $param.name #end	) {
	    
#foreach ($param in $outputParameters)
		this.$param.name = $param.name;
#end	    
	    
	  }
	  
	  #if (!$first)
	  /**
	   * For serialization only.
	   */
	  @SuppressWarnings("unused")
	  private ${name}ActionResult() {
	  }
	  #end

	#foreach ($param in $outputParameters)
	  public $param.type $begFunction$param.funcName$endFunction {
	    return this.$param.name;
	  }	
	#end

}
